<html>
	<head>
		<meta charset="UTF-8">
		<title>Лучший веб-сервис</title>
	</head>
	<body>
		<form method="post">
		  <input type="checkbox" name="EmploymentStatus"> EmploymentStatus<br>
		  <input type="checkbox" name="Gender"> Gender<br>
		  <input type="checkbox" name="HasDebt"> HasDebt<br>
		  <input type="checkbox" name="CityPopulation"> CityPopulation<br>
		  <input type="checkbox" name="JobWherePref"> JobWherePref<br>
		  <input type="checkbox" name="SchoolDegree"> SchoolDegree<br>
		  <input type="checkbox" name="MaritalStatus"> MaritalStatus<br>
		  <input type="submit" value="Submit">
		</form>
	
	</body>
</html>
